{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="mt-5 fade-in">
    <div class="row">
        <div class="">
            <h1 class="display-4">Bio</h1>
            <p class="lead">Oussama Qouti has a new bachelor's degree in big data and data science, he is very enthusiastic in the field of IT, especially generative AI, and willing to make something new. He is pursuing a Salesforce Administrator program at ALX and ready to take this challenge. Oussama had also achieved many accomplishments, including working on an exciting project in his last internship using state-of-the-art techniques in NLP and AI for his mother tongue Darija, and succeeding in his bachelor's degree as one of the top students in his class.</p>  
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Soft skills</h2>
            <ul class = "lead">
                <li>Effective Communication</li>
                <li>Problem Solving</li>
                <li>Creative Thinking</li>
                <li>Team Collaboration</li>
                <li>Adaptability</li>
                <li>Time Management</li>
                <li>Leadership</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Technical Skills</h2>
            <ul class = "lead">
                <li>Data Science</li>
                <li>Artificial Intelligence</li>
                <li>Natural Language Processing (NLP)</li>
                <li>Machine Learning</li>
                <li>Explanatory data analysis (EDA)</li>
                <li>SQL and noSQL databases</li>
                <li>Data visualization</li>
                <li>Hadoop ecosystem,Spark,Flink...</li>
            </ul>
        </div>
    </div>
    
    <div class="mt-5">
        <h2>Contact Information</h2>
        <p class = "lead">If you'd like to connect or learn more, feel free to reach out via email: <a class = "lead" href="mailto:qoutioussama2002@email.com">qoutioussama2002@email.com</a></p>
        <p class = "lead">Or by:</p>
        <a href="https://www.linkedin.com/in/oussama-qouti-105bb820a/" target="_blank" class="btn btn-primary mr-2"><i class="fab fa-linkedin"></i> LinkedIn</a>
    </div>
{% endblock %}
