{% extends "base.html" %}

{% block title %}Pitch elevator{% endblock %}

{% block content %}
<div class="mt-5 fade-in">
    <h1 class="display-4">Pitch elevator</h1>
    <p class="lead">Comming soon!</p>
    <!-- <div class="video-container">
        <video controls width="480" height="270">
            <source src="{{ url_for('static', filename='Imagine for 1 Minute.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div> -->
</div>
{% endblock %}
