{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="mt-5 fade-in">
    <h1 class="display-4">Portfolio</h1>
    <p class="lead">Unlock the power of data with a glance into my projects. Curious about my journey?</p>
    <div class="mt-4">
        <a href="https://www.canva.com/design/DAFrPhduSRs/Xbh6OSStp-xykHaXEmOaQg/edit?utm_content=DAFrPhduSRs&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank" class="btn btn-primary">See Some of My Work</a>
    </div>
</div>
{% endblock %}
